.body {
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.body a {text-decoration: none;}

.main{margin-left: 10px;border-bottom: 1px solid #ddd; margin: 20px}
}
.list{margin-left: 10px;width: 100%;border-bottom: 1px solid #ddd; }

.timing{
  position: absolute;margin-bottom: 60px;right: 0;
}

.keyboard{
  color: #bbb;
  font-size: 13px;
}

.keyboard:hover{
  color: #444
}

.timing a{padding-left: 10px;color: #999;}

.post{color: #999;}

.like{color: #999;}

.response h2 a{color: #000;font-size: 19px;padding-bottom: -50px}

.response p{font-size: 15px}

ul {list-style: none;}

.image-div {
    width: 400px;
    min-height: 300px;
    margin: 0 0 30px 0;
    padding: 20px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
}

.body .thumb-image{
  height: 32px;
  width: 32px;
  border-radius: 100%;
  margin-left: -50px;
  margin-right: 10px;
}

.header .sidebar-nav {
  padding: 9px 0;
}
.header .dropdown-menu .sub-menu {
  left: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: -1px;
}
.header .dropdown-menu li:hover .sub-menu {
  visibility: visible;
}
.header .dropdown-menu{
background-color: #101010
}
.header .dropdown:hover .dropdown-menu {
  display: block;
  background-color: #101010
}
.header .nav-tabs .dropdown-menu,
.nav-pills .dropdown-menu,
.navbar .dropdown-menu {
  margin-top: 0;
}
.header .navbar .sub-menu:before {
  border-bottom: 7px solid transparent;
  border-left: none;
  border-right: 7px solid rgba(0, 0, 0, 0.2);
  border-top: 7px solid transparent;
  left: -7px;
  top: 10px;
}
.header .navbar .sub-menu:after {
  border-top: 6px solid transparent;
  border-left: none;
  border-right: 6px solid #fff;
  border-bottom: 6px solid transparent;
  left: 10px;
  top: 11px;
  left: -6px;
}
.header .container{
  width: 100%;
}
.header .caret{
  display:none
}
.header .input{
  margin-top:10px;
  border-radius: 4px;
  padding: 5px 5px 5px 25px;
  background: url(https://cdn.dribbble.com/assets/icon-search-2x-c42f8a0d1db2fba1eda65a9bb045765c648b599e295d0b3d7fa16f587d812a29.png) no-repeat;
  background-size: 15px 15px;
  background-color: #fff;
  background-position: 7px 50%;
}
.header .navbar-inverse .navbar-toggle {
    border-color: #333;
    position: absolute;
    left: 0;
}
@media (max-width:767px){
.logo{
  margin-left: 35%;
}
}
